$main-color: #F9AA31;
$main-dark-color: #F19F24;
$text-color: #000;
$text-light-color: #FFF;
$bg-color: #E5E5E5;
$section-bg-color: #FFF;
$breadcrumbs-off-color: #4D4D4D;
$element-off-color: #52525C;
$search-bg-color: #282828;
$danger-color: #DA3633;
$border-color: #C7C7C7;
$extra-info-color: #F1F1F1;

$svg-filter-color: invert(64%) sepia(54%) saturate(676%) hue-rotate(345deg) brightness(175%) contrast(95%);

$saira-font: "Saira", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$btn-border: 0.4rem;
$input-border: 0.4rem;
$section-border: 0.4rem;