$main-color: #F9AA31;
$main-dark-color: #F19F24;
$text-color: #000;
$bg-color: #E5E5E5;
$section-bg-color: #FFF;
$breadcrumbs-off-color: #4D4D4D;
$element-off-color: #52525C;
$danger-color: #DA3633;
$border-color: #C7C7C7;

$saira-font: "Saira", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$btn-border: 0.4rem;
$input-border: 0.4rem;
$section-border: 0.4rem;

$medium: 480px;
$large: 768px;
