<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{dashboard_template}">

<head>
    <link rel="stylesheet" th:href="@{/css/page/create-product.css}" />
    <title>Administrador</title>
</head>

<body>
    <h2
      class="page-title"
      layout:fragment="title"
      th:text="#{header.title.edit-product}"
    ></h2>
    <main layout:fragment="content" class="admin-dashboard">
        <div class="create-account container">
            <div class="title-flex">
                <h1 class="title" th:text="#{page.dashboard.editproduct}">Edit product</h1>
            </div>
            <ul class="error">
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}">Error</li>
            </ul>
            <form th:action="@{@{'/dashboard/edit-product/'+${productToEdit.id}}}" method="post" enctype="multipart/form-data">
                <div class="form-group-col1">
                    <div class="form-pair">
                        <label for="name" th:text="#{product.name} + ':'"></label>
                        <input type="text" th:placeholder="#{product.name}" name="name" th:value="${description.name}">
                    </div>
                    <div class="form-pair">
                        <label for="subtitle" th:text="#{product.subtitle} + ':'"></label>
                        <input type="text" th:placeholder="#{product.subtitle}" name="subtitle" th:value="${description.subtitle}">
                    </div>
                    <div class="form-pair">
                        <label for="brandId" th:text="#{product.brand} + ':'"></label>
                        <select name="brandId" id="">
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}" th:selected="${productToEdit.model.brand.id == brand.id}">Null</option>
                        </select>
                    </div>
                    <div class="form-pair">
                        <label for="price" th:text="#{product.price} + ':'"></label>
                        <input type="text" th:placeholder="#{product.price}" name="price" th:value="${productToEdit.price}">
                    </div>
                    <div class="form-pair">
                        <label for="materialId" th:text="#{product.material} + ':'"></label>
                        <select name="materialId" id="">
                            <option th:each="material : ${materials}" th:value="${material.id}" th:text="${material.name}" th:selected="${productToEdit.model.material.id == material.id}">Null</option>
                        </select>
                    </div>
                    <div class="form-pair">
                        <label for="modelId" th:text="#{product.model} + ':'"></label>
                        <select name="modelId" id="">
                            <option th:each="model : ${models}" th:value="${model.id}" th:text="${model.name}" th:selected="${productToEdit.model.id == model.id}">Null</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-col2">
                    <div class="form-pair">
                        <label for="sizeId" th:text="#{product.size} + ':'"></label>
                        <select name="sizeId" id="">
                            <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.width} + ' x ' + ${size.height}" th:selected="${productToEdit.model.size.id == size.id}">Null</option>
                        </select>
                    </div>
                    <div class="form-pair">
                        <label for="colorId" th:text="#{product.color} + ':'"></label>
                        <select name="colorId" id="">
                            <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}" th:selected="${productToEdit.model.color.id == color.id}">Null</option>
                        </select>
                    </div>
                    <div class="form-pair">
                        <label for="description" th:text="#{product.description} + ':'"></label>
                        <textarea id="message" th:placeholder="#{product.description}" name="description" cols="24" rows="9" th:inline="text">[[${description.description}]]</textarea>
                    </div>
                    <div class="form-pair">
                        <label for="languageId" th:text="#{product.language} + ':'"></label>
                        <select name="languageId" id="">
                            <option th:each="language : ${languages}" th:value="${language.id}" th:text="#{${language.i18n}}" th:selected="${description.language.id == language.id}">Null</option>
                        </select>
                    </div>
                </div>
                <div class="image-upload">
                    <div class="form-pair">
                        <label for="image" th:text="#{product.image} + ':'"></label>
                        <input type="file" name="image">
                    </div>
                </div>
                <div class="button-group">
                    <input type="submit" th:value="#{dashboard.save}"></input>
                    <a class="red-button" href="/dashboard/manage-products"><span th:text="#{dashboard.cancel}"></span></a>
                </div>
            </form>
        </div>
    </main>
</body>

</html>