@import "../util/variables";

.error-surroundings {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-section {
  background-color: $section-bg-color;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info,
  .error {
    width: 3rem;
    height: 3rem;
    fill: black;
  }
}

@media (min-width: $large-screen) {
  .error-surroundings {
    display: block;
  }

  .error-section {
    .info,
    .error {
      width: 5rem;
      height: 5rem;
    }
  }
}
