@import "../util/variables";

body{
    margin: 0;
    display: block;

    &.search-open{
        background-color: rgba($color: $text-color, $alpha: 0.5);
    }
}

header{

    .header-computer{
        display: none;
        @media (min-width: 768px){
            display: block;

            .header-computer-1{
                background-color: $breadcrumbs-off-color;
                padding: 1.5rem 10rem 1.5rem 10rem;
                display: flex;
                justify-content: space-between;
    
                .header-computer-main{
                    display: flex;
    
                    .header-computer-icon{
                        padding-right: 6rem;
                        font-weight: bolder;
    
                        a{
                            img{
                                width: 100%;
                                max-width: 100px;
                            }
                        }
                    }
    
                    .header-computer-options{
                        display: flex;
                        gap: 2rem;
                        font-weight: lighter;

                        a:hover{
                            color: $main-color;
                        }
                    }
                }
    
                .header-computer-icons{
                    display:flex;
                    gap: 1rem;
    
                    a{
                        display:flex;
                        align-items: center;

                        img:hover{
                            filter: invert(64%) sepia(54%) saturate(676%) hue-rotate(345deg) brightness(175%) contrast(95%);
                        }
                    }

                    #search-computer-icon:hover{
                        cursor: pointer;
                    }

                    #lang-computer-icon:hover{
                        cursor: pointer;
                    }
                }
    
                a{
                    color: $text-light-color;
                    text-decoration: none;
                }
            }

            .header-computer-search{
                background-color: $search-bg-color;

                form{
                    display: none;
                    text-align: center;

                    &.show-search{
                        display: flex;
                        justify-content: flex-end;
                        padding: 0.5rem 10rem 0.5rem 10rem;
                    }

                    input[type="text"]{
                        background-color: transparent;
                        border: none;
                        color: $text-light-color;
                        font-size: 1rem;
                        border-bottom: 1px solid $text-light-color;
                        width: 100%;

                        &:focus{
                            outline: none;
                        }
                    }

                    input[type="image"]{
                        margin: auto;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

            .header-computer-lang{
                background-color: $search-bg-color;
                display: none;

                &.show-lang{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    justify-content: flex-end;
                    padding: 0.5rem 10rem 0.5rem 10rem;
                }

                a{
                    color: $text-light-color;
                    font-size: 1rem;
                }
            }
        }
    }

    .header-mobile{

        .header-mobile-top{
            background-color: $breadcrumbs-off-color;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1rem 0.5rem 1rem;

            div a img{
                max-width: 1.5rem;
                &:hover{
                    cursor: pointer;
                    filter: invert(64%) sepia(54%) saturate(676%) hue-rotate(345deg) brightness(175%) contrast(95%);
                }
            }

            .header-mobile-top-not-login{
                display: flex;
                gap: 1rem;
                text-decoration: none;

                p{
                    margin: auto;
                    font-size: 0.75rem;
                    color: $text-light-color;
                }

                &:hover{
                    filter: invert(64%) sepia(54%) saturate(676%) hue-rotate(345deg) brightness(175%) contrast(95%);
                    color: $main-color;
                }
            }

        }

        .header-mobile-search{
            background-color: $search-bg-color;

            form{
                display: none;
                text-align: center;

                &.show-search{
                    display: flex;
                    justify-content: flex-end;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                }

                input[type="text"]{
                    background-color: transparent;
                    border: none;
                    font-size: 0.75rem;
                    color: $text-light-color;
                    border-bottom: 1px solid $text-light-color;
                    width: 100%;

                    &:focus{
                        outline: none;
                    }
                }

                input[type="image"]{
                    margin: auto;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        .header-mobile-lang{
            background-color: $search-bg-color;
            display: none;
            width: calc(100% - 2rem);

            &.show-lang{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: flex-end;
                padding: 0.5rem 1rem 0.5rem 1rem;
            }

            a{
                font-size: 0.75rem;
                color: $text-light-color;
            }
        }

        .header-mobile-bottom{
            background-color: $breadcrumbs-off-color;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 0 0.5rem 0;

            position: fixed;
            left: 0;
            bottom: 0;
            width: calc(100% - 0rem);
            text-align: center;

            .header-mobile-bottom-section{
                display: flex;
                flex: 1;
                flex-direction: column;

                align-items: center;
                justify-content: center;

                text-decoration: none;
                gap: 0.5rem;

                &:hover{
                    filter: invert(64%) sepia(54%) saturate(676%) hue-rotate(345deg) brightness(175%) contrast(95%);
                }
                img{
                    width: 100%;
                    max-width: 1.5rem;
                }

                p{
                    margin: 0;
                    font-size: 0.75rem;
                    color: $text-light-color;
                }
            }

        }

        @media (min-width: 768px){
            display: none;
        }
    }
}