* {
    --logo-color: #fdc400;
}

.cls-1 {
  fill: none;
  stroke: var(--logo-color);
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.cls-2 {
  fill: var(--logo-color);
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#anim-logo {
  position: relative;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
}

#logo-sun-wrap {
  animation: sun-move 3s linear forwards;
}

#logo-sun {
  animation: sun-rotate 3s linear forwards;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute;
}

#logo-small-s {
  animation: delete-letter 0.1s linear forwards;
  stroke-dasharray: 57.9;
  stroke-dashoffset: 57.9;
}

#logo-i {
    animation: delete-letter 0.1s linear forwards 0.2s;
    stroke-dasharray: 33.6;
    stroke-dashoffset: 33.6;
}

#logo-r {
    animation: delete-letter 0.1s linear forwards 0.4s;
    stroke-dasharray: 72;
    stroke-dashoffset: 72;
}

#logo-a {
    animation: delete-letter 0.1s linear forwards 0.5s;
    stroke-dasharray: 142.2;
    stroke-dashoffset: 142.2;
}

#logo-l {
    animation: delete-letter 0.1s linear forwards 0.6s, show-letter-l 0.5s linear forwards 1.6s, fill-letter 0.2s linear forwards 2.1s;
    stroke-dasharray: 73.6;
    stroke-dashoffset: 73.6;
}

#logo-o {
    animation: delete-letter 0.1s linear forwards 0.8s, show-letter-o 0.5s linear forwards 1.4s, fill-letter 0.2s linear forwards 1.9s;
    stroke-dasharray: 127.8;
    stroke-dashoffset: 127.8;
}

#logo-big-s {
    animation: delete-letter 0.1s linear forwards 1s, show-letter-big-s 0.5s linear forwards 1.2s, fill-letter 0.2s linear forwards 1.7s;
    stroke-dasharray: 155.5;
    stroke-dashoffset: 155.5;
}

#logo-wrap {
    animation: center-logo 1s linear forwards;
    transform-box: border-box;
    transform-origin: center;
}

@keyframes center-logo {
    to {
        transform: translateX(20%);
    }
}

@keyframes delete-letter {
    to {
        fill: transparent;
    }
}

@keyframes show-letter-big-s {
    from {
        stroke: var(--logo-color);
        stroke-dashoffset: 155.5;
    }
    
    to {
        stroke: var(--logo-color);
        stroke-dashoffset: 0;
    }
}

@keyframes show-letter-o {
    from {
        stroke: var(--logo-color);
        stroke-dashoffset: 127.8;
    }
    
    to {
        stroke: var(--logo-color);
        stroke-dashoffset: 0;
    }
}

@keyframes show-letter-l {
    from {
        stroke: var(--logo-color);
        stroke-dashoffset: 73.6;
    }
    
    to {
        stroke: var(--logo-color);
        stroke-dashoffset: 0;
    }
}

@keyframes fill-letter {
    to {
        fill: var(--logo-color);
    }
}

#eUX3co8Wz5g2_to {
  animation: eUX3co8Wz5g2_to__to 3000ms linear 1 normal forwards;
}

@keyframes eUX3co8Wz5g2_to__to {
  0% {
    transform: translate(183.334999px, 77.305px);
  }

  33.333333% {
    transform: translate(58.087165px, 69.250001px);
  }

  100% {
    transform: translate(58.087165px, 69.250001px);
  }
}

#eUX3co8Wz5g2_tr {
  animation: eUX3co8Wz5g2_tr__tr 3000ms linear 1 normal forwards;
}

@keyframes eUX3co8Wz5g2_tr__tr {
  0% {
    transform: rotate(0deg);
  }

  33.333333% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

#eUX3co8Wz5g2_ts {
  animation: eUX3co8Wz5g2_ts__ts 3000ms linear 1 normal forwards;
}

@keyframes eUX3co8Wz5g2_ts__ts {
  0% {
    transform: scale(1, 1);
  }

  33.333333% {
    transform: scale(1.99505, 1.99505);
  }

  100% {
    transform: scale(1.99505, 1.99505);
  }
}
