@charset "UTF-8";
.shop-grid,
.shop-wrap,
.shop-content,
.products-panel {
  height: 100%;
}

.shop-grid {
  display: flex;
  flex-direction: row;
}
.shop-grid .shop-wrap {
  flex-grow: 1;
}
.shop-grid .shop-content {
  text-align: center;
}

.total {
  text-align: right;
}
.total p {
  margin: 0.4em 1em;
  font-size: 2em;
  font-weight: bold;
}

.checkout {
  text-align: center;
  margin-bottom: 2em;
}
.checkout button {
  margin: auto;
}

.cart-toggle {
  display: grid;
}
.cart-toggle:hover {
  cursor: pointer;
}

#cart-toggle-int {
  margin: 1rem;
  background-color: #DA3633;
  font-size: 2em;
  border-radius: 0.2rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.2em;
  place-content: center;
}

#cart-toggle-ext {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  display: grid;
  place-content: center;
  padding: 0.2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  color: #000;
  background-color: #f9aa31;
  overflow: hidden;
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  z-index: 1;
}
#cart-toggle-ext:hover {
  background-color: #f09407;
}
#cart-toggle-ext.hide {
  display: none;
}
#cart-toggle-ext img {
  width: 3rem;
  height: 3rem;
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out;
  background-color: #fff;
  border-left: 1px solid #C7C7C7;
}
#shopping-cart.hide {
  display: block;
  width: 0;
  min-width: 0;
  border: none;
  overflow: hidden;
}
#shopping-cart .shopping-cart-wrap {
  min-width: 98vw;
  height: 100%;
  overflow: hidden;
}
#shopping-cart .shopping-cart-header {
  display: flex;
}
#shopping-cart .shopping-cart-header .shopping-cart-title {
  display: block;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-size: 2em;
  padding-right: 2.5em;
}
#shopping-cart .product-list {
  box-sizing: border-box;
  width: calc(100% - 2em - 4px);
  overflow-y: auto;
  overflow-x: hidden;
  height: 70%;
  margin: 1em;
  border: 2px solid #C7C7C7;
  border-radius: 0.2rem;
}
#shopping-cart .product-list .product {
  display: grid;
  grid-template-areas: "img title" "img price" "controls controls";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
  gap: 1rem;
  margin: 1rem;
  padding: 1em;
  border: 1px solid #C7C7C7;
  border-radius: 0.2rem;
}
#shopping-cart .product-list .product .img-wrap {
  grid-area: img;
  width: 100%;
  height: 100%;
  min-height: 10em;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#shopping-cart .product-list .product * {
  margin: 0;
}
#shopping-cart .product-list .product > h3 {
  grid-area: title;
  font-size: 1.5em;
}
#shopping-cart .product-list .product > p {
  grid-area: price;
  font-size: 1.5em;
  text-align: right;
}

.controls {
  grid-area: controls;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.controls .controls__quantity-wrap {
  display: flex;
}
.controls .controls__quantity-wrap *,
.controls .controls__remove {
  display: inline-grid;
  place-content: center;
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  text-align: center;
  margin: 0.2rem;
}
.controls .controls__remove {
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #DA3633;
  color: #FFF;
}
.controls .controls__remove:hover {
  background-color: #b92421;
}
.controls .controls__substract,
.controls .controls__sum {
  font-size: 1.5em;
}

body.hide {
  display: grid;
  overflow: hidden;
  height: 100vh;
}

.products-panel {
  display: grid;
  grid-template-areas: "filter" "products";
  grid-template-columns: auto;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  gap: 4rem;
}
.products-panel hr {
  border: 1px solid #f9aa31;
  width: 50%;
  margin: 0 auto;
  margin-top: 1.5em;
}
.products-panel .products-item-pages {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-row: 2;
  grid-column: 1;
}
.products-panel .products-item-pages a {
  margin-inline: 0.5rem;
  padding: 0.3em;
  text-decoration: none;
  background-color: #F1F1F1;
  border-radius: 3em;
}
.products-panel .products-item-pages .selected {
  background-color: #f9aa31;
  color: white;
}
.products-panel .products-item-pages .not-selected {
  background-color: #F1F1F1;
  color: black;
}
.products-panel .filter-panel {
  grid-area: filter;
  width: 14rem;
  margin: 0 auto;
}
.products-panel .filter-panel input[type=submit] {
  margin: auto;
}
.products-panel .filter-panel input[type=checkbox] {
  margin: 0;
}
.products-panel .filter-panel .filter-options {
  display: none;
  margin-left: 2em;
}
.products-panel .filter-panel .filter-options label {
  display: flex;
  gap: 0.2em;
  margin-block: 0.3em;
}
.products-panel .filter-panel .filter-options label span {
  margin-left: 0.4em;
}
.products-panel .filter-panel .filter-option-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  margin: 2em 4em;
}
.products-panel .filter-panel .filter-option-title:hover {
  cursor: pointer;
}
.products-panel .filter-panel .filter-option-title::after {
  content: "▶";
  margin-left: 0.5em;
  font-size: 0.6em;
}
.products-panel .filter-panel .filter-option-title.show::after {
  content: "▼";
}
.products-panel .filter-panel .filter-option-title.show + .filter-options {
  display: block;
}
.products-panel .product-list-wrap {
  grid-area: products;
  display: flex;
  flex-direction: column;
}
.products-panel .products-items-panel {
  flex-grow: 1;
  grid-area: products;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: start;
}
.products-panel .products-items-panel a {
  text-decoration: none;
}
.products-panel .product {
  border: 1px solid #C7C7C7;
  border-radius: 0.2rem;
  background-color: #FFF;
  box-shadow: 0 0 4px 2px #C7C7C7;
}
.products-panel .product:hover {
  box-shadow: 0 0 6px 3px #C7C7C7;
}
.products-panel .product .product-img {
  display: grid;
  place-content: center;
  margin: 1em;
  height: 16em;
  width: 16em;
}
.products-panel .product .product-img img {
  height: auto;
  max-height: 16em;
  max-width: 16em;
}
.products-panel .product .product-price {
  font-size: 1.4em;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #shopping-cart {
    width: 30%;
    min-width: 30em;
  }
  #shopping-cart .shopping-cart-wrap {
    min-width: 30em;
  }

  body.hide {
    overflow: auto;
  }

  .products-panel .products-items-panel {
    justify-content: left;
  }
}
@media screen and (min-width: 900px) {
  .products-panel {
    grid-template-areas: "filter products";
    grid-template-columns: 20% 1fr;
  }
  .products-panel .filter-option-title::after {
    content: "";
  }
  .products-panel .filter-option {
    display: block;
  }
}/*# sourceMappingURL=shop.css.map */