<!DOCTYPE html>
<html 
    lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/page/errors.css}">
    <title>Error</title>
</head>
<body>
    <div class="error-container">
        <div class="content">
            <p>Hey stranger,</p>
            <!-- TODO: Get the error ID -->
            <p>you got lost in the <strong>404</strong> galaxy.</p>
            <a href="/">Go back to earth.</a>
        </div>
    </div>
</body>
</html>