<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <th:block>
        <div th:fragment="add_address" class="profile-main">
            <ul class="error">
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}">Error</li>
              </ul>
            <div class="profile-background">
                <div>
                    <h1 class="title" th:text="#{page.profile.address.add.title}">Dirección de envio</h1>
                </div>
                <form class="form" method="POST" th:action="(${address} == null) ? @{/profile/address/add} : @{'/profile/address/edit/' + ${address.id}}">
                    <div class="field">
                      <label for="street">Dirección</label>
                      <div> 
                          <input class="input-field" type="text" id="street" name="street" th:value="(${address} == null) ? null : ${address.street}" placeholder="Dirección"/>
                      </div>
                    </div>
                    <div class="field">
                        <label for="country">Pais</label>
                        <div> 
                            <select name="countryId" id="countryId" class="select">
                                <option class="country-option" th:each="country : ${countries}" th:value="${country.id}" th:text="#{${country.i18n}}" th:selected="(${address} != null AND ${address.country.id} == ${country.id})"></option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="city">Ciudad</label>
                        <div> 
                            <input class="input-field" type="text" id="city" name="city" th:value="(${address} == null) ? null : ${address.city}" placeholder="Ciudad"/>
                        </div>
                    </div>
                    <div class="double">
                        <div class="field">
                            <label for="postcode">Codigo postal</label>
                            <div> 
                                <input class="input-field" type="text" id="postcode" name="postcode" th:value="(${address} == null) ? null : ${address.postcode}" placeholder="Codigo postal"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="province">Provincia</label>
                            <div> 
                                <select name="provinceId" id="provinceId" class="select">
                                    <option class="country-option" th:each="province : ${provinces}" th:value="${province.id}" th:text="#{${province.i18n}}" th:selected="(${address} != null AND ${address.province.id} == ${province.id})"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="number">Telefono</label>
                        <div> 
                            <input class="input-field" type="text" id="number" name="number" placeholder="Telefono movil" th:value="(${address} == null) ? null : ${address.number}"/>
                        </div>
                    </div>
                    <input class="btn" type="submit" value="Edit password" th:value="#{page.profile.edit.save}">
                </form> 
            </div>
        </div>
    </th:block>
</body>
</html>