<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <th:block th:fragment="footer">
        <div>
            <p>© 2021 All rights Reserved Terms of Use and Privacy Policiy</p>
        </div>
        <div class="footer-icons">
            <a href=""><img class="logo" th:src="@{/images/gmail.svg}" src="/images/gmail.svg" alt="Correo Electronico" /></a>
            <a href=""><img class="logo" th:src="@{/images/twitter.svg}" src="/images/twitter.svg" alt="Twitter" /></a>
            <a href=""><img class="logo" th:src="@{/images/facebook.svg}" src="/images/facebook.svg" alt="Facebook" /></a>
            <a href=""><img class="logo" th:src="@{/images/linkedin.svg}" src="/images/linkedin.svg" alt="Linkedin" /></a>
        </div>
    </th:block>
</body>
</html>