<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Solaris</title>
</head>

<body>
    <header th:replace="fragments/header :: header">
        <nav>
            <p>Navigation bar</p>
        </nav>
    </header>
    <div layout:fragment="content">
        <h1>Static Content</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nobis ducimus ab facilis, odio qui
            officia, provident mollitia voluptates fuga laborum ea esse doloribus architecto alias recusandae
            consequuntur sapiente. Odio, soluta pariatur vero quibusdam earum, atque quia voluptatum quod doloremque
            eaque nisi maiores esse accusamus maxime nemo, itaque rem! Nisi nostrum veniam voluptate, est repellat
            quidem ipsam fugiat, deleniti ullam aperiam omnis. Praesentium rem eos molestias, eum ad consectetur
            accusamus perspiciatis modi tempora accusantium aut debitis nulla, at illo facilis eligendi dicta magnam,
            ratione illum architecto aliquid ipsa vitae non? Nulla dolores amet perspiciatis natus minus hic, cupiditate
            quam velit repellat possimus qui esse nobis repudiandae non porro saepe a facere eum officia vero cumque et
            nesciunt. Nesciunt debitis voluptates maxime repellendus assumenda dignissimos necessitatibus dolor
            cupiditate ullam! Nihil soluta tempore dicta iure similique repellat reiciendis dolore ipsam blanditiis
            officia placeat in at ratione necessitatibus molestiae, culpa maiores dolorum eveniet eaque facere
            temporibus commodi deserunt. Officia, cumque deleniti veritatis in ea, sint dolorum praesentium eligendi est
            odio delectus. Vitae, soluta placeat beatae molestias eos illo! Inventore at, velit laudantium, quasi vel
            magni ex, explicabo quibusdam reiciendis similique voluptatum aliquam accusantium amet incidunt! Amet
            voluptatem doloremque molestias. Sit necessitatibus ex delectus animi illo amet minima obcaecati quas eos
            cum et quos qui accusamus sapiente molestiae ipsam dolore quia, architecto temporibus ullam corrupti unde
            laborum. Dignissimos modi voluptates consequatur corporis animi quaerat iusto blanditiis excepturi ratione,
            inventore, quibusdam voluptatum hic similique deserunt nihil totam facere adipisci dolorum earum quas. Ipsam
            ex ut architecto dolorem nostrum voluptates animi eum, rem tempore aspernatur id! Mollitia et blanditiis
            eum. Excepturi voluptate unde eaque cumque voluptatum, quo maxime numquam alias tempora porro beatae quod
            quidem in eos magni doloribus necessitatibus facilis illum iste commodi possimus consectetur! Ad a iusto
            voluptates magnam similique mollitia quas amet nihil.</p>
    </div>
    <footer th:replace="fragments/footer :: footer">&copy; 2021 Solaris</footer>
</body>

</html>