<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{public_template}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <script th:src="@{/js/shopping-cart.js}"></script>
    <link rel="stylesheet" th:href="@{/css/shop.css}" href="/css/shop.css">
</head>
6

<body>
    <main layout:fragment="content">
        <div class="shop-grid">
            <div class="shop-wrap">
                <section class="shop-content" layout:fragment="shop-content">
                    <p>Changing contents</p>
                </section>
                <div id="cart-toggle-ext" class="btn cart-toggle">
                    <img th:src="@{/images/shopping-cart.svg}">
                </div>
            </div>
            <section id="shopping-cart">
                <span id="cart-toggle-int" class="cart-toggle">&times;</span>
                <h2 class="shopping-cart-title" th:text="page.shop.shopping-cart">Shopping Cart</h2>
                <div class="product-list">
                </div>
            </section>
        </div>
    </main>
</body>