<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/module/header.css}">
    <link rel="stylesheet" th:href="@{/css/module/footer.css}">
    <link rel="stylesheet" th:href="@{/css/module/nav.css}">
    <link rel="stylesheet" th:href="@{/css/page/index.css}">
    <link rel="stylesheet" th:href="@{/css/page/profile.css}">
    <link rel="stylesheet" th:href="@{/css/page/profile-security.css}">
    <link rel="stylesheet" th:href="@{/css/page/profile-address.css}">
    <link rel="stylesheet" th:href="@{/css/page/delete-account.css}">
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/page/profile_security.js}"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Solaris</title>
</head>
<body>
    <header th:insert="header :: header"></header>
    <main layout:fragment="content">
        <p>Changing contents</p>
    </main>
    <footer th:insert="footer :: footer"></footer>
    <hr class="separator">
    <nav th:insert="nav :: nav"></nav>
</body>