<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{dashboard_template}"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/page/installation.css}" />
    <title>Instalador</title>
  </head>

  <body>
    <main layout:fragment="content" class="installer-dashboard">
      <div class="container current">
        <h2 class="title" th:text="${installation.name}">NOMBRE DE LA INSTALACION</h2>
        <ul>
          <li>
            <h3 class="subtitle" th:text="${installation.order.owner.name} +' '+ ${installation.order.owner.firstSurname}"></h3>
          </li>
          <li>
            <h3 class="subtitle">Nombre del cliente</h3>
          </li>
          <li>
            <h3 class="subtitle">Nombre del cliente</h3>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
