<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{dashboard_template}">

<head>
  <link rel="stylesheet" th:href="@{/css/page/installer.css}">
  <title>Instalador</title>
</head>

<body>
  <main layout:fragment="content" class="installer-dashboard">
    <div class="user-banner container">
      <h1 class="title">Bienvenido, <span> Max Verstapen</span></h1>
    </div>
    <div class="available-install container current">
      <h2 class="title">Instalaciones</h2>
      <ul class="task-list">
        <li></li>
      </ul>
    </div>
    <div class="finished-install container">
      <h2 class="title">Instalaciones</h2>
      <ul class="task-list">
        <li></li>
      </ul>
    </div>
  </main>
</body>

</html>