<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{dashboard_template}"
>
  <head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" th:href="@{/css/page/installation.css}" />
    <script th:src="@{/js/sign.js}"></script>
    <title th:text="#{title.order_install}"></title>
  </head>

  <body>
    <h2
      class="page-title"
      layout:fragment="title"
      th:text="#{header.title.overview}"
    ></h2>
    <main layout:fragment="content" class="installer-dashboard">
      <div class="container current">
        <a th:href="@{/install}" class="header-mobile">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="logo"
            th:alt="#{img.alt.expand}"
          >
            <path
              d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
            />
          </svg>
          <img
            th:src="@{'https://source.boringavatars.com/marble/64/'+${installation.name}+'?colors=3e3e3e,707070,f9aa31&square=true'}"
            th:alt="#{img.alt.installation}"
          />
        </a>
        <h2 class="title" th:text="${installation.name}">
          NOMBRE DE LA INSTALACION
        </h2>
        <div id="task-container" class="details current">
          <ul class="details-list">
            <li>
              <h3
                class="subtitle"
                th:text="#{page.installation.client-name}"
              ></h3>
              <p
                th:text="${installation.order.owner.name} +' '+ ${installation.order.owner.firstSurname}+' '+ ${installation.order.owner.secondSurname}"
              ></p>
            </li>
            <li>
              <h3 class="subtitle" th:text="#{address}"></h3>
              <div class="address">
                <p th:text="${installation.order.address.street}"></p>
                <p
                  th:text="${installation.order.address.city}+', '+ #{${installation.order.address.province.i18n}}+', '+ #{${installation.order.address.country.i18n}}"
                ></p>
              </div>
            </li>
            <li>
              <h3 class="subtitle" th:text="#{date}"></h3>
              <p th:text="${installation.order.creationTime}"></p>
            </li>
            <li>
              <h3 class="subtitle" th:text="#{page.installation.products}"></h3>
              <ul class="product-list">
                <th:block th:each="products : ${installation.order.products}">
                  <th:block
                    th:each="description : ${products.product.descriptions}"
                  >
                    <li
                      th:if="${description.language.code} == #{locale}"
                      th:text="${products.amount}+' '+${description.name}"
                    ></li>
                  </th:block>
                </th:block>
              </ul>
            </li>
          </ul>
          <form id="taskForm" class="products-list" th:action="@{'/install/'+${installation.id}+'/save'}" method="post" enctype="multipart/form-data"> 
            <label th:each="task, iterator : ${installation.tasks}"
              ><input
                type="checkbox"
                class="check"
                th:checked="${task.completed}"
                value="true"
                th:disabled="${task.completed}"
                th:name="tasksId[__${iterator.index}__]"
                th:value="${task.id}"
              />
              <p class="text" th:text="${task.description}"></p>
            </label>
          </form>
          <div class="map">
            <iframe
              width="100%"
              height="100%"
              th:title="#{page.installation.map.title}"
              th:src="@{'https://maps.google.com/maps?width=500&amp;height=500&amp;hl=es&amp;q='+${installation.order.address.street}+${installation.order.address.city}+'+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'}"
            ></iframe>
          </div>
        </div>
        <div id="canvas-container" class="details sign">
          <canvas id="sign"></canvas>
        </div>
        <div class="footer">
          <span id="sign-error" class="error hide" th:text="#{page.installation.error.sign}"></span>
          <div class="btn-container"><input id="save-btn"
            type="submit"
            form="taskForm"
            th:value="#{page.installation.save}"
          />
          <button class="btn"
            id="sign-btn"
            th:text="#{page.installation.sign}"
          ></button>
          <button class="btn hide"
            id="send-btn"
            th:text="#{page.installation.send}"
          ></button></div>
        </div>
      </div>
    </main>
  </body>
</html>
