<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{shop_template}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<main layout:fragment="content" class="profile">
  <div>
    <div class="helper">
      <p class="a">
        <a href="/profile" class="helper-page" th:text="#{helper.profile}">Mi Cuenta</a> > 
        <a href="/profile/address" class="helper-page selected" th:text="#{helper.profile.address}">Direcciones</a>
      </p>
    </div>
    <hr class="helper-hr">
    <section class="profile-main address">
      <div class="alert alert-success" role="alert" th:text="#{${success}}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="#{${error}}" th:if="${error}"></div>
      <div class="profile-background">
        <div>
          <h1 class="title" th:text="#{page.profile.address.edit.title}">Edit user</h1>
        </div>
        <div class="options">
            <a href="/profile/address/add" th:href="@{/profile/address/add}" class="add-address address-section">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>            
                <p class="add" th:text="#{page.profile.address.add.title}">Agregar dirección</p>
            </a>
            <th:block th:if="${addresses != null}">
              <div th:each="address : ${addresses}" class="address-info">
                  <div class="block">
                    <div th:if="${address.defaultAddress == true}" class="default">
                      <p class="text" th:text="#{page.profile.default.title}">Predeterminado</p>
                      <hr class="helper-hr">
                    </div>
                    <div class="info">
                      <p class="name" th:text="${address.user.name} + ' ' + ${address.user.firstSurname} + ' ' + ${address.user.secondSurname}">Name</p>
                      <p th:text="${address.street}">Address</p>
                      <p th:text="${address.city} + ', ' + #{${address.province.i18n}} + ' ' + ${address.postcode}">City, Province, PostalCode</p>
                      <p th:text="#{${address.country.i18n}}">Contry</p> 
                      <p th:text="'Número de telefono: ' + ${address.number}">NT</p>
                    </div>
                  </div>
                  <div class="address-edit-options">
                    <form method="GET" th:action="@{'/profile/address/edit/' + ${address.id}}">
                      <input class="option" type="submit" value="Editar" th:value="#{page.profile.edit}">
                    </form>
                    <form method="POST" th:action="@{'/profile/address/delete/' + ${address.id}}">
                      <input class="option" type="submit" value="Borrar" th:value="#{page.profile.delete}">
                    </form>
                    <form method="POST" th:action="@{'/profile/address/edit/set-default/' + ${address.id}}" th:if="${address.defaultAddress == false}">
                      <input class="option" type="submit" value="Definir como predeterminado" th:value="#{page.profile.default.set}">
                    </form>
                  </div>
              </div>
            </th:block>        
        </div>
      </div>
    </section>
  </div>
</main>