<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{shop_template}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<main layout:fragment="content" class="profile">
  <div>
    <div class="helper">
      <a href="/">Mi Cuenta > <span class="helper-page">Direcciones</span></a>
    </div>
    <hr class="helper-hr">
    <div style="display: flex;">
      <section th:insert="add_address :: add_address"></section>
      <section th:insert="add_address :: add_address"></section>
      <section th:insert="add_address :: add_address"></section>
    </div>
  </div>
</main>