<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{shop_template}">

<head>
    <title th:text="#{page.shop.title}">Shop</title>
</head>

<body>
    <div layout:fragment="shop-content">
        <div class="products-panel">
            <form class="filter-panel" th:action="@{/shop/0}" method="GET">
                <input type="submit" th:value="#{page.shop.filter.submit}"></input>
                <hr>
                <h2 class="filter-option-title" th:text="#{page.shop.filter.brand}"></h2>
                <div class="filter-options">
                    <th:block th:each="brand, iterator : ${brands}">
                        <label><input type="checkbox" th:name="brandsIds[__${iterator.index}__]" th:value="${brand.id}"
                                th:id="${'brand-' + brand.id}"><span th:text="${brand.name}"></span></label>
                    </th:block>
                </div>
                <hr>
                <h2 class="filter-option-title" th:text="#{page.shop.filter.colors}"></h2>
                <div class="filter-options">
                    <th:block th:each="color, iterator : ${colors}">
                        <label><input type="checkbox" th:name="colorsIds[__${iterator.index}__]" th:value="${color.id}"
                                th:id="${'color-' + color.id}"><span th:text="${color.name}"></span></label>
                    </th:block>
                </div>
                <hr>
                <h2 class="filter-option-title" th:text="#{page.shop.filter.materials}"></h2>
                <div class="filter-options">
                    <th:block th:each="material, iterator : ${materials}">
                        <label><input type="checkbox" th:name="materialsIds[__${iterator.index}__]"
                                th:value="${material.id}" th:id="${'material-' + material.id}"><span
                                th:text="${material.name}"></span></label>
                    </th:block>
                </div>
                <hr>
                <h2 class="filter-option-title" th:text="#{page.shop.filter.sizes}"></h2>
                <div class="filter-options">
                    <th:block th:each="size, iterator : ${sizes}">
                        <label><input type="checkbox" th:name="sizesIds[__${iterator.index}__]" th:value="${size.id}"
                                th:id="${'size-' + size.id}"><span
                                th:text="${size.height + ' x ' + size.width + 'm'}"></span></label>
                    </th:block>
                </div>
                <hr>
            </form>
            <div class="product-list-wrap">

                <div class="products-items-panel">
                    <th:block th:each="product : ${products}">
                        <a href="/shop/product/1" th:href="@{'/shop/product/' + ${product.id}}">
                            <div class="product">
                                <div class="product-img">
                                    <img th:src="@{'~' + ${product.imagePath}}" alt="product-image">
                                </div>
                                <th:block th:each="description : ${product.descriptions}">
                                    <p class="product-title" th:if="${description.language.code} == #{locale}"
                                    th:text="${description.name}">Null</p>
                                </th:block>
                                <p class="product-price" th:text="${#numbers.formatDecimal(product.price,1,2,'COMMA') + ' €'}">Null</p>
                            </div>
                        </a>
                    </th:block>
                </div>
                <div th:if="${totalPages} gt 0" class="products-item-pages">
                    <th:block th:with="iterations=${actualPage}">
                        <th:block th:each="i : ${#numbers.sequence( actualPage, iterations+3, 1 )}">
                            <a th:if="${i gt 0 and i lt totalPages}"
                                th:classappend="${i eq actualPage + 1} ? selected : notselected"
                                th:href="@{'/shop/'+${i}}" th:text="${i}">null</a>
                        </th:block>
                    </th:block>
                    <span th:if="${totalPages gt 3}">...</span>
                    <a th:href="@{'/shop/'+${totalPages}}"
                        th:classappend="${totalPages eq actualPage + 1} ? selected : notselected"
                        th:text="${totalPages}">null</a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>