<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{shop_template}">

<head>
    <title th:text="#{page.login.title}">Log in</title>
</head>

<body>
    <div layout:fragment="shop-content">
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
        <h1>shop shop shop shop shop shop</h1>
    </div>
</body>

</html>