<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{dashboard_template}"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/page/solarzone.css}" />
    <title>Localize</title>
  </head>

  <body>
    <h2
      class="page-title"
      layout:fragment="title"
      th:text="#{header.title.overview}"
    ></h2>
    <main layout:fragment="content" class="installer-dashboard">
      <div class="container">
        <div id="banner" class="panel"></div>
        <div id="main-panel" class="panel"></div>
        <div id="small-panel" class="panel"></div>
        <div id="medium-panel" class="panel"></div>
      </div>
    </main>
  </body>
</html>
